@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --text-muted: #717173;
  --text-muted-light: #d0d0d0;
}

.text-muted {
  color: var(--text-muted);
}

.text-muted-light {
  color: var(--text-muted-light);
}

.hover\:text-muted-light:hover {
  color: var(--text-muted-light);
}

.bg-news-gradient {
  background: linear-gradient(180deg, #121212 0%, #191a1d 100%);
}

.gradient-border-about {
  border-image-source: linear-gradient(
    259.32deg,
    #5a566b 68.73%,
    #b0a8d1 98.76%
  );
  border-image-slice: 1;
}

.gradient-border-main:hover {
  border-image-source: linear-gradient(
    259.32deg,
    #5a566b 68.73%,
    #b0a8d1 98.76%
  );
  border-image-slice: 1;
}

body {
  background-color: #121212;
  padding-top: 10rem;
  color: white;
  font-family: "Lato", sans-serif;
}
