@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --text-muted: #717173;
  --text-muted-light: #d0d0d0;
  --cart-bg-grey: #191a1d;
  --custom-border: #191a1d;
  --bg-dark: #121212;
}

body {
  color: white;
  font-family: "Lato", sans-serif;
}

@layer utilities {
  .bg-darkk {
    background-color: var(--bg-dark);
  }

  .cart-bg-grey {
    background-color: var(--cart-bg-grey);
  }

  .border-custom {
    border-color: var(--custom-border);
  }

  .bg-dark {
    background-color: var(--cart-bg-grey);
  }

  .text-muted {
    color: var(--text-muted);
  }

  .text-muted-light {
    color: var(--text-muted-light);
  }

  .hover\:text-muted-light:hover {
    color: var(--text-muted-light);
  }

  .bg-news-gradient {
    background: linear-gradient(180deg, #121212 0%, #191a1d 100%);
  }

  .gradient-border-about {
    border-image-source: linear-gradient(
      259.32deg,
      #5a566b 68.73%,
      #b0a8d1 98.76%
    );
    border-image-slice: 1;
  }
  .gradient-border-main {
    transition: border-image-source 0.3s ease;
  }

  .gradient-border-main:hover {
    border-image-source: linear-gradient(
      259.32deg,
      #5a566b 68.73%,
      #b0a8d1 98.76%
    );
    border-image-slice: 1;
  }
}

/* 1) Define your “min-width” breakpoints */
@theme {
  --breakpoint-sup-sm: 641px;
  --breakpoint-mobile: 769px;
  --breakpoint-sup-lg: 1025px;
  --breakpoint-sup-xl: 1281px;
  --breakpoint-sup-2xl: 1537px;
}
/* 2) Define your “max-width” and raw queries */
@custom-variant sup-sm (@media (max-width: 640px));
@custom-variant mobile (@media (max-width: 768px));
@custom-variant sup-lg (@media (max-width: 1024px));
@custom-variant sup-xl (@media (max-width: 1280px));
@custom-variant sup-2xl (@media (max-width: 1536px));
/* Disabling hover on touch, etc. */
